{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block styles %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/PyBEL-square-100.png') }}">
{% endblock %}

{% block title %}Boilerplate{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Boilerplate</h1>
        </div>
        {{ util.flashed_messages(dismissible=True) }}
        <div class="panel panel-default">
            <div class="panel-body">
                <p>This form can be used to create a stub BEL script.</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Input</h3>
            </div>
            <div class="panel-body">
                {{ wtf.quick_form(form, form_type='horizontal', button_map={'submit_button': 'btn btn-primary'}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block head %}
    {{ super() }}
    {{ fixes.ie8() }}
{% endblock %}
