{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}PyBEL{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/PyBEL-square-100.png') }}">
    <style>
        .home-link {
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1 id="network-name">PyBEL Web</h1>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Introduction</h3>
            </div>
            <div class="panel-body">
                <p>This web application provides an interface for users to interact with the functions in the Python
                    software packages: <a href="http://pybel.readthedocs.io/">PyBEL</a> and <a
                            href="http://pybel-tools.readthedocs.io/">PyBEL Tools</a>. From this page, you can begin to
                    explore the networks stored in the knowledge base stratified by the source BEL script,
                    by nodes and other biological entities of <a href="#seedNodePanel">interest</a>, or by certain
                    authors and publications of <a href="#seedProvenancePanel">interest</a>.
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail home-link">
                            <!--<img src="http://placehold.it/350x150" alt="...">-->
                            <div class="caption">
                                <h3>Compiler</h3>
                                <p>Compile and validate a BEL script with the option to store for later querying and
                                    analyses. Automatic network analytics are run and presented after compilation.
                                    Additionally, precompiled BEL scripts can be uploaded from Pickle files.</p>
                                <p>
                                    <a href="{{ url_for('view_compile') }}" class="btn btn-primary">Compile BEL</a>
                                    <a href="{{ url_for('view_upload') }}" class="btn btn-default">Upload Pickle</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <!--<img src="http://placehold.it/350x150" alt="...">-->
                            <div class="caption home-link">
                                <h3>Networks</h3>
                                <p>Select from a list of curated networks, then begin to explore with through
                                    automatically generated network analyses, interactive visualizations, and
                                    data-driven graph mining.</p>
                                <a href="{{ url_for('view_networks') }}" class="btn btn-primary btn-block">List
                                    Networks</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail home-link">
                            <!--<img src="http://placehold.it/350x150" alt="...">-->
                            <div class="caption">
                                <h3>Terminologies</h3>
                                <p>View the ontologies and terminologies used in the knowledge base as namespaces and
                                    annotations</p>
                                <a href="{{ url_for('view_definitions') }}" class="btn btn-primary btn-block">View
                                    Terminologies</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail home-link">
                            <!--<img src="http://placehold.it/350x150" alt="...">-->
                            <div class="caption">
                                <h3>Curation</h3>
                                <p>Generate a template BEL script given a list of PubMed identifiers</p>
                                <a href="{{ url_for('get_boilerplate') }}" class="btn btn-primary btn-block">Generate
                                    Template</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail home-link">
                            <!--<img src="http://placehold.it/350x150" alt="...">-->
                            <div class="caption">
                                <h3>Query Builder</h3>
                                <p>Build a network by investigating the knowledge related to interesting biological
                                    entities, chemical matter, authors, or publications.</p>
                                <a href="{{ url_for('view_networks') }}#seedNodePanel"
                                   class="btn btn-primary btn-block">Explore Knowledge Base</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail home-link">
                            <!--<img src="http://placehold.it/350x150" alt="...">-->
                            <div class="caption">
                                <h3>Documentation</h3>
                                <ul>
                                    <li>PyBEL</li>
                                    <li>PyBEL Tools</li>
                                    <li>bio2bel</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "footer.html" %}
{% endblock %}


