{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block styles %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/PyBEL-square-100.png') }}">
{% endblock %}

{% block title %}Merge{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>BEL Namespace Merge Tool</h1>
        </div>

        {{ util.flashed_messages(dismissible=True, container=False) }}

        <div class="panel panel-default">
            <div class="panel-body">
                <a class="btn btn-default" href="{{ url_for('home') }}" role="button">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </a>
                <div class="pull-right">
                    {% if current_user.is_authenticated %}
                        <a class="btn btn-default" href="https://github.com/{{ current_user.username }}">Logged in
                            as {{ current_user.display }}</a>
                        <a class="btn btn-default" href="{{ url_for('logout') }}" role="button">Log Out</a>
                    {% else %}
                        <a class="btn btn-default" href="{{ url_for('login') }}" role="button">Log In</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <p>The namespace merge tool takes all of the unique names from multiple namespaces and combines them
                    in a single namespace.
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Input</h3>
            </div>
            <div class="panel-body">
                {{ wtf.quick_form(form, form_type='horizontal', button_map={'submit_button': 'btn btn-primary'}) }}
            </div>
        </div>
    </div>

    {% include "footer.html" %}
{% endblock %}

{% block head %}
    {{ super() }}
    {{ fixes.ie8() }}
{% endblock %}
