{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Networks{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href='https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css'/>
    <link rel="stylesheet" type="text/css"
          href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css'/>

{% endblock %}

{% block head %}
    {{ super() }}
    {{ fixes.ie8() }}

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script type="text/javascript"
            src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/home_controller/home_controller.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Network Store</h1>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Curated Networks</h3>
            </div>
            <div class="list-group">
                {% for nid, name, vers, descr in data %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">{{ name }} v{{ vers }}</h4>
                        <div class="list-group-item-text">
                            <p>{{ descr }}</p>
                            <ul class="list-inline">
                                <li><a href="/summary/{{ nid }}">Summarize</a></li>
                                <li><a href="/explore/?graphid={{ nid }}">Explore</a></li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Network Seeding by Nodes</h3>
            </div>
            <div class="panel-body">
                <p>This method of seeding will acquire the given nodes and expand around them using given seed
                    method.</p>

                <select style="width: 100%" multiple="multiple"
                        id="node_selection"></select>

                {{ wtf.quick_form(subgraph_form, id='subgraph_form', form_type='horizontal', button_map={'submit_button': 'btn btn-primary'}) }}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Network Seeding by Provenance</h3>
            </div>
            <div class="panel-body">
                <p>This method of seeding will acquire nodes and edges asserted in the given citations and by the given
                    authors, then expand around the neighborhood of these nodes to show all peripheral knowledge.</p>
                {{ wtf.quick_form(provenance_form, form_type='horizontal', button_map={'submit_button': 'btn btn-primary'}) }}
            </div>
        </div>
    </div>
{% endblock %}
