{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block head %}
    {{ super() }}
    {{ fixes.ie8() }}

    {% include "google_analytics.html" %}
{% endblock %}


{% block styles %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/PyBEL-square-100.png') }}">
{% endblock %}

{% block title %}Compile{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>BEL Web Parser</h1>
        </div>

        {{ util.flashed_messages(dismissible=True, container=False) }}

        <div class="panel panel-default">
            <div class="panel-body">
                <a class="btn btn-default" href="{{ url_for('home') }}" role="button">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </a>
                <div class="pull-right">
                    {% include "login_buttons.html" %}
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <h4>What to Do Next?</h4>
                <p>Asynchronous parsing is an experimental feature currently and doesn't provide as immediate
                    feedback as synchronous parsing. Compilation usually is pretty fast, and takes less than 5-10
                    minutes. We'll send you an email when it's done.</p>
                <h4>Task</h4>
                <p>Your task has the identifier <code>{{ task.id }}</code></p>
            </div>
        </div>
    </div>

    {% include "footer.html" %}
{% endblock %}

