{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Upload{% endblock %}

{% block content %}
    <div class="container" style="padding-top:50px">
        <div class="jumbotron">
            <h1>PyBEL Web - Uploader</h1>
            <p>This web application is for uploading precompiled BEL scripts to the cache. It accepts files in the
                gpickle format, created by running <code>python3 -m pybel convert -p my_document.bel --pickle
                    my_document.gpickle</code> in your favorite command line or programmatically in Python with
                <a href="http://pybel.readthedocs.io/en/latest/io.html#pybel.to_pickle">pybel.to_pickle</a>.
            </p>
            <p>For more information on how this app works, see the <a href="http://pybel.readthedocs.io/">PyBEL</a> and
                <a href="http://pybel-tools.readthedocs.io/">PyBEL Tools</a> documentation.
            </p>
        </div>
        {{ util.flashed_messages(dismissible=True) }}
        {{ wtf.quick_form(form, form_type='horizontal', button_map={'submit_button': 'btn btn-primary'}) }}
    </div>
{% endblock %}

{% block head %}
    {{ super() }}
    {{ fixes.ie8() }}
{% endblock %}
