{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Compile{% endblock %}

{% block content %}
    {{ util.flashed_messages(dismissible=True) }}
    <div class="container" style="padding-top:50px">
        <div class="jumbotron">
            <h1>PyBEL Web - Compiler</h1>
            <p>This web application is built with PyBEL. It compiles BEL scripts and provides helpful output
                for fixing errors. Parsing occurs at about 900 lines per second, so be patient!.
            </p>
            <p>For more information on how this app works, see the <a href="http://pybel.readthedocs.io/">PyBEL</a> and
                <a href="http://pybel-tools.readthedocs.io/">PyBEL Tools</a> documentation.
            </p>
        </div>
        {{ wtf.quick_form(form, form_type='horizontal', button_map={'submit_button': 'btn btn-primary'}) }}
    </div>
{% endblock %}

{% block head %}
    {{ super() }}
    {{ fixes.ie8() }}
{% endblock %}
