<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Networks</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href='https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css'/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script type="text/javascript"
            src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/home_controller/home_controller.js') }}"></script>
</head>
<body>
<div class="container">
    <h1>Loaded Networks</h1>

    <ul>
        {% for nid, name, vers in data %}
            <li><a href="/network/{{ nid }}">{{ name }} v{{ vers }}</a></li>
        {% endfor %}
    </ul>
    <h4>Inspect nodes/papers/authors in your networks</h4>

    Please type the nodes you want to inspect
    <form id="node-inspection" method="get">
        <input placeholder="Type here your nodes" name="node_list" id="node-input" type="text"/><br>
        <input type="radio" name="analysis" value="induce_subgraph" checked> Induce subnetwork<br>
        <input type="radio" name="analysis" value="shortest_paths"> Find shortest paths between nodes<br>
        <input type="radio" name="analysis" value="expand_neighbors"> Expand around nodes<br>
        <input type="button" id="submit-nodes" value="Submit"/>
    </form>
    <hr>
    Please type the PubMed IDs you want to inspect
    <form id="citation-inspection" method="get">
        <input placeholder="Type here your PubMed IDs" name="pubmed_list" id="pubmed-input" type="text"/>
    </form>
    <hr>

    Please type the authors you want to inspect
    <form id="author-inspection" method="get">
        <input placeholder="Type here your authors" name="author_list" id="author-input" type="text"/>
    </form>

</div>
</body>
</html>
