{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Networks{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href='https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css'/>
    <!-- From daniel: <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/> -->
{% endblock %}

{% block head %}
    {{ super() }}
    {{ fixes.ie8() }}

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script type="text/javascript"
            src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- from daniel <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script> -->
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/home_controller/home_controller.js') }}"></script>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Network Store</h1>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Networks</h3>
            </div>
            <div class="panel-body">
            <p>Below are listed the items in the network store.</p>
            </div>
            <div class="list-group">
                {% for nid, name, vers, descr in data %}
                    <a href="/network/{{ nid }}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ name }} v{{ vers }}</h4>
                        <p class="list-group-item-text">{{ descr }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Network Seeding by Nodes</h3>
            </div>
            <div class="panel-body">
                <form id="node-inspection" method="get">
                    <label for="node_list">Please type the nodes you want to inspect</label>
                    <input placeholder="Type your nodes here" name="node_list" id="node-input" type="text"/><br>
                    <label class="checkbox"><input type="radio" name="analysis" value="induce_subgraph" checked>
                        Induce subnetwork</label>
                    <label class="checkbox"><input type="radio" name="analysis" value="shortest_paths">
                        Induce over shortest paths</label>
                    <label class="checkbox"><input type="radio" name="analysis" value="expand_neighbors">
                        Expand neighborhoods</label>
                    <input type="button" id="submit-nodes" value="Submit"/>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Network Seeding by Provenance</h3>
            </div>
            <div class="panel-body">
                <p>This method of seeding will acquire nodes and edges asserted in the given citations and by the given
                    authors, then expand around the neighborhood of these nodes to show all peripheral knowledge.</p>

                <form id="provenance-inspection" method="get">
                    <label for="pubmed_list">Please type the PubMed IDs you want to inspect</label>
                    <input placeholder="Type PubMed IDs" name="pubmed_list" id="pubmed-input" type="text"/>
                    <hr>
                    <label for="author_list">Please type the authors you want to inspect</label>
                    <input placeholder="Type authors" name="author_list" id="author-input" type="text"/>
                    <input type="button" id="submit-provenance" value="Submit"/>
                </form>

            </div>
        </div>
    </div>
{% endblock %}
