{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Upload{% endblock %}

{% block content %}
    {{ util.flashed_messages(dismissible=True) }}
    <div class="container" style="padding-top:50px">

        <div class="jumbotron">
            <h1>PyBEL Web - Uploader</h1>
            <p>This web application is for uploading gpickle files to the cache.</p>
        </div>
        {{ wtf.quick_form(form, form_type='horizontal', button_map={'submit_button': 'btn btn-primary'}) }}
    </div>
{% endblock %}

{% block head %}
    {{ super() }}
    {{ fixes.ie8() }}
{% endblock %}
